@font-face {
        font-family: 'Titillium Web';
        src: url(fonts/TitilliumWeb-Regular.ttf);
}

@font-face {
        font-family: 'Helvetica';
        src: url(fonts/HelveticaLTStd-Roman.otf);
}

html, body {
    font-family: 'Helvetica';
    font-size: 15px;
    line-height: 1.5;
    background-color: #262d27;
}

body {
    margin: 0;
    color:#3dd379;
}

#resposta {
  color:#0aa046;
  font-size:44px;
  margin:10px 0 0 0;
}

#resposta1 {
  color:black;
  margin-top: -30px;
  margin-bottom: -20px;
}

#resposta2 {
	color:#3dd379;
	font-size:60px;
    width:800px;
    max-width:800px;
}

#resposta1:hover {
    color:#0aa046;
    background-color: #f1f1f1; 
}

.ter{
    padding:1px 16px;
    height:1000px;
    margin-left:auto;
    margin-right:auto;
    width:1380px;
}

input[type=text]#myInp {
    width: 130px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-image: url(http://www.w3schools.com/howto/searchicon.png);
    background-position: 10px 12px;
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

input[type=text]#myInp:focus {
    width: 100%;
}

button, input, select, textarea {
    font: inherit;
    margin: 0;
}

select#LeagueList, select#TeamBRList, select#NtlTeams{
    background-color: #262d27;
    padding: 5px;
    border-radius: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    height: 34px;
    color: white;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.hidden {
    display: none;
}

#next{
    background-color: #2cc45a;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 30px;
    margin-left: 380px;
    margin-bottom: 30px;
}

#previous{
    background-color: #2cc45a;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 30px;
    margin-right: -380px;
    margin-left: 380px;
    margin-bottom: 30px;
}

#previous.hidden{
    display: none;
}

#second_page.hidden{
    display: none;
    color:black;
    margin:10px 0 0 0;
    margin-right: 360px;
    margin-left: 360px;
}

#third_page{
    margin-right: 360px;
    margin-left: 360px;
    color: black;
}

#start.hidden{
    display: none;
}

button#start{
    background-color: #2cc45a;
    font-size: 22px;
    line-height: 1.5;
    border-radius: 500px;
    padding: 7px 35px;
    outline: none;
    border-width: 0;
    letter-spacing: 8px;
    min-width: 130px;
    white-space: normal;
}

#start:hover, #previous:hover, #next:hover{
    transition: .25s;
    background: #3dd379;
}