@font-face {
        font-family: 'Helvetica';
        src: url(fonts/HelveticaLTStd-Roman.otf);
}

* { 
  margin:0; 
  padding:0; 
}

html, body {
    font-family: 'Helvetica';
    font-size: 15px;
    line-height: 1.5;
    background-color: #dfe3e0;
}

body {
    color:#0aa046;
}

#resposta {
  color:#0aa046;
  font-size:44px;
  margin:10px 0 0 0;
}

#resposta1 {
  color:black;
  margin-top: -20px;
}

#resposta2 {
  color:#0aa046;
  font-size:60px;
  text-transform: uppercase;
}

#resposta1:hover {
    color:#0aa046;
    background-color: #f1f1f1; 
}

ul:not(#changeslist){
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 16vw;
    background-color: #f1f1f1;
    position: fixed;
    height: 100%;
    overflow: auto;
}

li a:link {
    color:black;
}

li a:visited{
    color:black;
}

li a:not(#changeslist) {
    display: block;
    padding: 8px 16px;
    text-decoration: none;
}

li a.active:not(#changeslist) {
    background-color: #4CAF50;
    color: white;
}

li a:hover:not(.active) {
    background-color: #555;
    color: white;
}

.ter{
    margin-left:15vw;
    padding:1px 16px;
    min-width:90%;
}

.hidden {
    display: none;
}

input[type=text]#myInp {
    width: 130px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-image: url(http://www.w3schools.com/howto/searchicon.png);
    background-position: 10px 12px;
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

input[type=text]#myInp:focus {
    width: 100%;
}

button, input, select, textarea {
    font: inherit;
    margin: 0;
}

ul li .icons{
    color: black;
    margin: 1vw;
    font-size:2.5vw;
   }

ul li .icons:hover{
    color: #0aa046;
    background-color: #f1f1f1;
}

#canvas-holder {
        width: 100%;
        margin-top: 50px;
        text-align: center;
    }
#chartjs-tooltip {
      opacity: 1;
      position: absolute;
      background: rgba(0, 0, 0, .7);
      color: white;
      border-radius: 3px;
      -webkit-transition: all .1s ease;
      transition: all .1s ease;
      pointer-events: none;
      -webkit-transform: translate(-50%, 0);
      transform: translate(-50%, 0);
    }

.chartjs-tooltip-key {
      display: inline-block;
      width: 10px;
      height: 10px;
    }

canvas#canvas{
        -moz-user-select: none;
        -webkit-user-select: none;
        -ms-user-select: none;
    }

ul#changeslist{
  list-style-type: none;
  line-height: 50px;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

td:hover{
  background-color:white;
}

span.XXxX{
  font-weight: bolder;
  color: #333;
  font-size:12px;
}

span.ResultsNumber{
  border:1px solid #7d8aa0;
  padding:2px;
  color: gray;
}

td center h2:not(.ResultsNumber){
  color: black;
  font-weight: normal;
}

button.ChartBtnActivated{
    background:#0aa046;
}

::-webkit-scrollbar{width:9px;height:9px;}
::-webkit-scrollbar-button:start:decrement,
::-webkit-scrollbar-button:end:increment{display:block;height:0;background-color:transparent;}
::-webkit-scrollbar-track-piece{background-color:#FAFAFA;-webkit-border-radius:0;-webkit-border-bottom-right-radius:8px;-webkit-border-bottom-left-radius:8px;}
::-webkit-scrollbar-thumb:vertical{height:50px;background-color:#999;-webkit-border-radius:8px;}
::-webkit-scrollbar-thumb:horizontal{width:50px;background-color:#999;-webkit-border-radius:8px;}