@font-face {
        font-family: 'Helvetica';
        src: url(fonts/HelveticaLTStd-Roman.otf);
}

* { 
  margin:0; 
  padding:0; 
}

html, body {
    font-family: 'Helvetica';
    font-size: 15px;
    line-height: 1.5;
    background-color: #dfe3e0;
}

#resposta {
  color:#0aa046;
  font-size:44px;
  margin:10px 0 0 0;
}

#resposta1 {
  color:#dfe3e0;
  margin-top: -20px;
  font-size:1.5vw;
}

#resposta1:hover {
    color:#0aa046;
    background-color: inherit; 
}

ul:not(#resposta1){
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    overflow: auto;
    font-size: 1.5vw;
}

.centerize{
    text-align: center;
}

li a:link {
    color:black;
}

li a:visited{
    color:black;
}

li{
    float: left;
}

li a:not(#changeslist) {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a.active:not(#changeslist) {
    background-color: #4CAF50;
    color: white;
}

li a:hover:not(.active) {
    background-color: #555;
    color: white;
}

.ter{
    margin-left:15vw;
    padding:1px 16px;
    min-width:870px;
}

.hidden {
    display: none;
}

.hiddenn {
    margin-left: 0;
}

.fontsf{
    font-family: helvetica;
}

.StockInfoDisplaySpan{
    font-size:5vw;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    text-align: left;
    padding: 8px;
}

tr:nth-child(even){
    background-color: #f2f2f2
}

table tbody tr:hover{
    background-color: white;
}

.activebtn{
    background-color: #0aa046;
}

::-webkit-scrollbar{width:9px;height:9px;}
::-webkit-scrollbar-button:start:decrement,
::-webkit-scrollbar-button:end:increment{display:block;height:0;background-color:transparent;}
::-webkit-scrollbar-track-piece{background-color:#FAFAFA;-webkit-border-radius:0;-webkit-border-bottom-right-radius:8px;-webkit-border-bottom-left-radius:8px;}
::-webkit-scrollbar-thumb:vertical{height:50px;background-color:#999;-webkit-border-radius:8px;}
::-webkit-scrollbar-thumb:horizontal{width:50px;background-color:#999;-webkit-border-radius:8px;}