@font-face {
        font-family: 'Titillium Web';
        src: url(fonts/TitilliumWeb-Regular.ttf);
}

body {
  background: #dde9e2;
  font-family: 'Titillium Web';
}

#resposta{
  color:#0aa046;
  font-size:44px;
  margin:60px 0 0 50px;
}

#resposta2{
  color:#0aa046;
  font-size:44px;
}

body .IMGsrcFB{
  margin:20px;
  float: left;
  border-radius:50%;

}
