@font-face {
        font-family: 'Titillium Web';
        src: url(fonts/TitilliumWeb-Regular.ttf);
}

body {
  background: #dde9e2;
  font-family: 'Titillium Web';
}

#resposta{
  color:#0aa046;
  font-size:44px;
}

#resposta2{
  color:#0aa046;
  font-size:44px;
}

body .IMGsrcFB{
  margin: 20px;
  float: left;
  width: 50px;
  height: 50px;
  border-radius: 5px;
  box-shadow: 0px 0px 3px #666;
}

div #resposta{
	margin: 20px;
}