@font-face {
        font-family: 'Titillium Web';
        src: url(fonts/TitilliumWeb-Regular.ttf);
}

body {
  background: #dde9e2;
  font-family: 'Titillium Web';
}

#resposta{
  color:#0aa046;
  font-size:44px;
  float: left;
  margin: 60px;
}

#resposta1 , #resposta2{
  color:#0aa046;
  font-size:44px;
  padding: 20px;
}

